{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} <title>Sign Up</title> {% endblock title %}

{% block content %}

<div class="container">
    <div>
        <h1>Sign Up</h1>
        <p>
            Already have an account? Then please <a href="{{ login_url }}">sign in</a>
        </p>
        <form action="{% url 'account_signup' %}" data-validate-username-url="{% url 'hotels:validate_username' %}" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input name="{{ redirect_field_name }}" type="hidden" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>

{% endblock content %}
{% block script %}
  <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });
    });
  </script>
{% endblock script %}


