{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main>
<div id="htlfndr-sing-in">
	<div class="htlfndr-content-card">
		<div class="htlfndr-card-title clearfix">
			<h2 class="pull-left">Sing in</h2>
		</div>
		<form action= "{% url 'account_login' %}" id="htlfndr-sing-in-form" method="post">
			{% csrf_token %}
			<h4>Username</h4>
			<input id="id_login" class="htlfndr-input " type="text" name="login">
			<h4>Password</h4>
			<input id="id_password" class="htlfndr-input" type="password" name="password">
			<div class="clearfix">
			<span>Don't Have an Account?
				<a data-target="#htlfndr-sing-up" data-toggle="modal" href="#">
					<span>Sing up</span>
				</a>
			</span>
			<input type="submit" value="Sing in" class="pull-right">
			</div>
		</form>
	</div>
</div>
</main>

{% endblock %}
{% block script %}
  <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });
    });
  </script>
{% endblock script %}


