{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main>
    <div class="container">
        <!--Section: Products v.3-->
        <section class="mb-4">
            <div class="row wow fadeIn">
                <div class="col-6 offset-3">
                    <h1>{% trans "Sign Up" %}</h1>

                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                    <form action="{% url 'account_signup' %}" class="signup" id="signup_form" method="post" data-validate-username-url="{% url 'hotels:validate_username' %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        {% if redirect_field_value %}
                        <input name="{{ redirect_field_name }}" type="hidden" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock %}
{% block script %}
  <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });
    });
  </script>
{% endblock script %}


