{% load static %}
<div class="htlfndr-top-header">
    <div class="navbar navbar-default htlfndr-blue-hover-nav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target="#htlfndr-first-nav" data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="htlfndr-logo navbar-brand" href="{% url 'hotels:home' %}">
                    <img alt="Logo" src="{% static 'images/logo.png' %}"/>
                    <p class="htlfndr-logo-text">hotel <span>finder</span></p>
                </a>
            </div><!-- .navbar-header -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="htlfndr-first-nav">
                <!-- List with sing up/sing in links -->
                <ul class="nav navbar-nav htlfndr-singup-block">
                    {% if request.user.is_authenticated %}
                    <li>
                        <a data-target="#htlfndr-sing-up" data-toggle="modal" href="#"><span>{{ user.username }}</span></a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}"><span>log out</span></a>
                    </li>
                    {% else %}
                    <li id="htlfndr-singup-link">
                        <a data-target="#htlfndr-sing-up" data-toggle="modal" href="#"><span>sing up</span></a>
                    </li>
                    <li id="htlfndr-singin-link">
                        <a data-target="#htlfndr-sing-in" data-toggle="modal" href="#"><span>sing in</span></a>
                    </li>
                    {% endif %}
                </ul><!-- .htlfndr-singup-block -->
                <!-- List with currency and language dropdowns -->
                <ul class="nav navbar-nav htlfndr-custom-select htlfndr-currency">
                    <li>
                        <label class="sr-only" for="htlfndr-currency">Change currency</label>
                        <select id="htlfndr-currency" name="htlfndr-currency" tabindex="-1">
                            <option value="eur">eur</option>
                            <option value="gbp">gbp</option>
                            <option value="jpy">jpy</option>
                            <option selected="selected" value="usd">usd</option>
                        </select>
                    </li>
                </ul>
                <ul class="nav navbar-nav htlfndr-custom-select htlfndr-language">
                    <li id="htlfndr-dropdown-language">
                        <label class="sr-only" for="htlfndr-language">Change language</label>
                        <select id="htlfndr-language" name="htlfndr-language" tabindex="-1">
                            <option selected="selected" value="eng">eng</option>
                            <option value="ger">ger</option>
                            <option value="jap">jap</option>
                            <option value="ita">ita</option>
                            <option value="fre">fre</option>
                            <option value="rus">rus</option>
                        </select>
                    </li>
                </ul><!-- .htlfndr-top-menu-dropdowns -->
            </div><!-- .collapse.navbar-collapse -->
        </div><!-- .container -->
    </div><!-- .navbar.navbar-default.htlfndr-blue-hover-nav-->
</div><!-- .htlfndr-top-header -->
<!-- Start of main navigation -->
<div class="htlfndr-under-header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target="#htlfndr-main-nav" data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- .navbar-header -->
            <!-- Collect the nav links, forms, and other content for toggling -->
        </div><!-- .container -->
    </nav><!-- .navbar.navbar-default.htlfndr-blue-hover-nav -->
</div><!-- .htlfndr-under-header -->
<!-- End of main navigation -->